.labeler {
    display: inline-block;
    margin-bottom: 23px;
    margin-left: 20px;
    margin-top: 5px;
    
}
.clox{
    height: 30px;
}
.lin{
    text-align: center;
}
.ipengsea{
    color: transparent;
}
.fcontrol {
    display: inline;
    max-width: 60%;
    float: right;
    margin-right: 38px;
}
.mhead {
    height: 55px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    margin: 0 auto;
    padding: 0px;
    background-color: rgb(76, 206, 97);
}
.mtitle {
    margin-bottom: 0;
    line-height: 2;
    cursor: default;
    /* color: rgb(231, 216, 216); */
    color: #f8f9fa;
    margin-left: 215px;
    line-height: 2;
    cursor: default;
}
.mbody {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 46px;
    padding-right: 50px;
    padding-left: 50px;
}
.out {
    display: contents;
    float: right;
    font-size: 31px;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
input:hover{
    background-color: rgb(191, 217, 240);
}
.invalidName{
    display: none;
    margin-left: 80px;
    margin-bottom: 0px;
}
.div2{
    margin-bottom: 0px
}
.can{
    background-color: dimgray;
}

.hrcontent{
    width: 99%!important;
    margin-top: 0!important;
    border-bottom: 2.5px solid #50a253!important;
    box-shadow: 0px 20px 20px -20px #333!important;
  }