
label {
    display: inline-block;
    margin-bottom: 23px;
    margin-left: 20px;
    margin-top: 5px;
    
}
.link{
    text-align: center;
}
i{
    color: transparent;
}
.form-control {
    display: inline;
    max-width: 60%;
    float: right;
    margin-right: 38px;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    margin: 0 auto;
    padding: 0px;
    background-color: rgb(76, 206, 97);
}
.modal-title {
    margin-bottom: 0;
    line-height: 2;
    cursor: default;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 46px;
    padding-right: 50px;
    padding-left: 50px;
}
.close {
    float: right;
    font-size: 45px;
    font-weight: 700;
    
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
.modal-title {
    color: rgb(231, 216, 216);
    margin-left: 215px;
    line-height: 2;
    cursor: default;
}
input:hover{
    background-color: rgb(191, 217, 240);
}
